body {background-color:whitesmoke}
p    {color:scrollbar}
#1 {color:#ffffff}
footer{
    background-color: black;
       text-align:center;
       font-size: medium
}
table {
    font-family: "Courier New", Courier, monospace;
    width: 100%;
    border-collapse: collapse;
}

td,  th {
    font-size: 1em;
    border: 1px solid #000000;
    padding: 3px 7px 2px 7px;
}

th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #dae956 ;
    color: #000000;
}
tr.alt td {
    color: #000000;
    background-color: #EAF2D3;
}
form {
    width: 150px;
    margin-left: 30px;
}
